.center{
    text-align: center;
}

.right{
    text-align: right;
}

.mainbutton
{
    margin-top: 45px;
    background-color: rgb(0, 183, 255);
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    width: 400px;
    height: 90px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 6px;
    transition: color 0.5s, background-color 0.5s;
}

.mainbutton:hover
{
    margin-top: 45px;
    background-color: white;
    border: none;
    color: rgb(0, 183, 255);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    width: 400px;
    height: 90px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 6px;
    transition: color 0.5s, background-color 0.5s;
}

.smallbutton
{
    margin: 5px;
    background-color: rgb(0, 183, 255);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 4px;
    transition: color 0.5s, background-color 0.5s;
}

.smallbutton:hover
{
    margin: 5px;
    background-color: white;
    border: none;
    color: rgb(0, 183, 255);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 4px;
    transition: color 0.5s, background-color 0.5s;
}

.title
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color:  rgb(0, 147, 206);
}

body {
    background-color: rgb(200, 236, 248);
  }

.line {
    width: 1200px;
    height: 0px;
    margin: auto;
    border: 3px solid rgb(0, 183, 255);
}